html,
body {
  width: 100%;
  height: 100%;
  margin: 0;

  overflow: hidden;

  -webkit-user-select: none;
  user-select: none;

  overscroll-behavior: none;
}

body {
  font-family: system-ui, sans-serif;
  background: #20242a;
  touch-action: none;
}

button,
select {
  font: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
}

label {
  color: #ffffff;
  font-size: 13px;
}
