.icon {
  width: 112px;
  height: 112px;
  background-image: url("/ui/icons.png");
  background-repeat: no-repeat;
  background-size: 1792px 112px;
  image-rendering: auto;
}

.icon-flag {
  background: none;
  font-size: 110px;
  line-height: 1;
}

/* 0 */
.icon-menu {
  background-position: 0 0;
}

/* 1 */
.icon-fullscreen {
  background-position: -112px 0;
}

/* 2 */
.icon-help {
  background-position: -224px 0;
}

/* 3 */
.icon-exit {
  background-position: -336px 0;
}

/* 4 */
.icon-sound {
  background-position: -448px 0;
}

/* 5 */
.icon-music {
  background-position: -560px 0;
}

/* 6 */
.icon-vibro {
  background-position: -672px 0;
}

/* 7 */
.icon-canvas {
  background-position: -784px 0;
}

/* 8 */
.icon-phaser {
  background-position: -896px 0;
}

/* 9 */
.icon-three {
  background-position: -1008px 0;
}

/* 10 */
.icon-empty-slot-01 {
  background-position: -1120px 0;
}

/* 11 */
.icon-empty-slot-02 {
  background-position: -1232px 0;
}

/* 12 */
.icon-hp {
  background-position: -1344px 0;
}

/* 13 */
.icon-jump {
  background-position: -1456px 0;
}

/* 14 */
.icon-speed {
  background-position: -1568px 0;
}

/* 15 */
.icon-score {
  background-position: -1680px 0;
}
